@import url('https://fonts.cdnfonts.com/css/ice-cream');
.input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
           -20px -20px 60px #ffffff;
    transition: 0.3s;
   }
   
   .input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
   }
   body{
    font-family: 'ice cream', sans-serif;
    background-image: linear-gradient(to right, #fc354c, #0abfbc);
   }
   .bottom{
    background-color:gray;
    text-align: center;
    padding: 10px
   }
   h1{
    text-align: center
   }